/* .logoHeader {
  height: 0px;
}
.header {


  background-color: rgb(255, 255, 255);
}

header a {

  color: rgb(0, 0, 0);
  list-style-type: none;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid;
} */
.active1{
text-size-adjust: 15px;
}